body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    color: #333;
}

.header {
    width: 100%;
}

.container {
    background-color: #fff;
    padding: 2rem;
    text-align: center;
    width: 90%; /* Breiter Container */
    max-width: 800px; /* Maximale Breite */
    margin-top: 8rem;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    gap: 0.5rem;
}

#badgeImage {
    width: 250px; /* Bildgröße erhöhen */
    height: auto;
    margin-bottom: 1rem;
}

#congratulations {
    font-size: 2rem; /* Etwas kleiner */
    margin-bottom: 1rem;
}

#finalScore {
    font-size: 1.5rem; /* Etwas kleiner */
    color: #333;
    margin-bottom: 1rem;
}

form {
    width: 100%;
    margin-bottom: 0.5rem;
}

form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem; /* Etwas kleiner */
    margin-bottom: 0.5rem;
    border: 2px solid #000;
    border-radius: 30px;
    background-color: #fff;
    color: #333;
    text-align: center;
    max-width: 300px; /* Maximalbreite für das Eingabefeld */
    margin: 0 auto; /* Zentrieren */
}

form button {
    display: block; /* Block-Display für untereinander Anordnung */
    width: 100%; /* Volle Breite */
    font-size: 1.2rem; /* Etwas kleiner */
    padding: 1rem 2rem;
    margin: 0.5rem auto; /* Gleicher Abstand oben und unten, automatisch zentriert */
    text-decoration: none !important;
    color: #fff !important;
    background-color: #0073E6;
    border-radius: 30px;
    border: 2px solid #000;
    text-align: center;
    transition: none;
    max-width: 300px; /* Maximalbreite für den Button */
}


form button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #0073E6;
    border-color: #000;
    color: #fff;
    text-decoration: none;
}


a.btn {
    display: block; /* Block-Display für untereinander Anordnung */
    width: 100%; /* Volle Breite */
    font-size: 1.2rem; /* Etwas kleiner */
    padding: 1rem 2rem;
    margin: 0.5rem 0;
    text-decoration: none !important;
    color: #fff !important;
    background-color: #0073E6;
    border-radius: 30px;
    border: 2px solid #000;
    text-align: center;
    transition: none;
    max-width: 300px; /* Maximalbreite für den Button */
    margin: 0 auto; /* Zentrieren */
}

a.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #0073E6;
    border-color: #000;
    color: #fff;
    text-decoration: none;
}

.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 2rem 10%;
    text-align: center;
    font-size: 1.2rem;
    border-top: 0.2rem solid #000;
}

