.h1 {
	font-size: 2rem;
	padding: 0.5rem 0 2rem 0;
}

.p {
	font-size: 1.125rem;
}

.content-container {
	max-width: 90rem;
	padding: 6.5rem 8rem;
}

.content-container h2,
.content-container h3 {
	font-size: 2em;
	margin-bottom: 0.625em;
}

.content-container p {
	margin-bottom: 2.5em;
}

#highScores {
	display: flex;
	justify-content: center;
	align-items: center;
}

#highScoresList {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: 100%;
	max-width: 37.5em;
}

#highScoresList li {
	background: #f0f0f0;
	padding: 0.9375em;
	margin: 0.625em 0;
	border-radius: 0.3125em;
	font-size: 1.2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#highScoresList li span {
	margin-left: auto;
}

@media (max-width: 26.5625em) {
	.content-container {
		max-width: 90rem;
		padding: 3em;
	}

	.p {
		font-size: 1em;
	}

	.footer p {
		font-size: 1.125rem;
	}
}